In [9]:
# 1
# import numpy
import numpy as np

In [34]:
# 2
# crate numpy arrray like [1,2,...,30] and cast to python regular list
list = np.arange(1,31).tolist()
type(list)

list

In [37]:
# 3
# cast the list back to numpy array
list = np.array(list)
type(list)

numpy.ndarray

In [40]:
# 4
list.shape = (6,5)
list

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30]])

In [67]:
# 5
i = 0
sum = 0
for row in list:
    j = 0
    for val in row:
        if i == j:
            sum = sum + val
        j = j + 1
    i = i + 1
sum

65

In [68]:
# 6
np.sum(list[1])

40

In [69]:
# 7
list_ones = np.ones((6,5), dtype=int)
list_ones

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [70]:
# 8
list + list_ones

array([[ 2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21],
       [22, 23, 24, 25, 26],
       [27, 28, 29, 30, 31]])

In [103]:
# 9
mat3 = np.random.randint(100, size = (30,30))
mat3

array([[52, 30, 19, 54,  0, 70, 89, 57, 15, 26, 86, 35, 14, 48, 11, 45,
        44,  9, 93, 77, 95, 47, 29, 84, 36, 46, 16, 60, 98,  2],
       [40, 68, 61, 60, 22, 41, 61, 42, 60, 22, 93, 57, 56, 92, 22, 91,
        21, 90, 37, 50, 50, 58,  5, 21, 54,  6,  9, 39, 19, 47],
       [49,  8, 62, 66, 96, 10, 73, 13, 72, 15, 51, 61, 48, 49, 17,  5,
        54, 27, 30, 63, 54, 20, 91, 12,  7,  1, 82, 84, 65, 44],
       [78,  5, 17, 47, 62, 78, 66, 31, 25, 55, 33, 75, 23, 52, 13, 11,
         8, 92, 67, 55, 50, 28,  3, 84, 25, 79, 83, 90, 59,  5],
       [13, 35, 35, 64, 41, 79, 43, 32, 77, 61, 66,  2, 60, 93,  7,  1,
        15, 65, 74, 93, 93, 42, 92, 46, 46, 98, 42, 90, 59, 41],
       [66, 59, 98, 26, 84, 18, 39, 72, 37, 48, 74,  1, 24,  8, 59, 57,
        60,  1, 85, 67, 75, 17, 62, 43, 85,  3, 60, 74, 35,  3],
       [43, 40, 90, 80, 56, 34, 45, 71, 38, 43, 29, 40, 55, 43, 35, 75,
        14, 22,  7, 91, 13, 68, 69, 70, 20, 90, 37, 27,  0, 38],
       [56, 49, 87, 25, 47, 79, 89, 67, 92, 72, 62, 71, 65, 43, 42,  6,
        38, 44, 25, 51, 13, 39, 37, 40, 18, 26, 44, 22, 19, 35],
       [24, 73, 67, 97, 28, 87, 29, 33, 80, 18, 50, 90, 64, 85, 44, 24,
        60, 12, 24, 25, 62, 13,  8, 81, 63, 30, 84, 81, 33, 44],
       [98, 47, 84, 28, 74, 76, 33,  3, 67, 56, 68, 71, 45, 18, 10, 81,
        90, 25, 82, 63, 20, 88, 56, 64, 77, 75, 70, 81, 41, 93],
       [81, 46, 74, 28, 42, 76,  1, 53, 49, 97,  2, 91, 26,  4, 26, 33,
        95, 33, 95, 43, 63, 68, 78, 84, 15,  4, 22, 50, 94, 33],
       [64, 64, 74, 40, 63, 87, 82, 18, 66, 74, 93, 16,  9, 24, 51, 49,
        26, 48, 66, 79, 11, 28, 14, 87, 72, 63, 70, 74, 90,  8],
       [96, 65, 28, 89, 78,  8, 94, 49,  8, 55, 27, 52, 60, 91, 89, 71,
        42, 57, 31, 64, 85, 64, 82, 74, 73, 25, 65,  3, 62, 52],
       [ 3, 66,  9, 50, 53, 51, 74, 12, 36,  9,  3, 71, 27, 89, 27, 64,
        12, 32, 47, 78, 91, 72, 30, 27, 45, 55, 24, 78, 89, 24],
       [76, 81, 45, 85, 29, 53, 32, 54, 44, 81,  1, 16, 99, 56, 95, 78,
        96, 76,  7, 97,  8, 77, 83, 60, 36,  5, 20, 98, 68, 18],
       [19, 31, 73, 20, 36, 45, 57, 25, 48, 87,  2, 65, 42, 25, 69, 12,
        28, 43, 69,  0, 78, 69, 15, 82,  3, 90, 48, 64, 35, 90],
       [95, 13, 27, 92, 10, 82, 28, 55, 40, 38,  3, 68,  0,  2, 43, 36,
        17, 61, 28, 83, 11,  6, 21, 16, 26, 45, 33, 64, 78, 49],
       [19, 61, 17, 99, 63, 49, 73, 31, 80, 55, 47, 33, 70, 65, 80, 12,
        48, 51, 13, 50, 49, 12, 56, 62, 71, 93, 64, 71, 53, 20],
       [30, 55, 48, 27, 61, 21, 68, 82, 85, 74, 99, 22, 99, 63, 12, 81,
         4, 97, 90, 31, 60, 86, 49, 12, 66, 15, 64, 28, 61, 59],
       [ 8, 98, 89, 68, 22, 77, 70, 48, 35, 53, 45, 43, 38, 99, 66,  3,
        27, 54, 30, 45, 66, 25, 54, 42, 81, 43, 65, 68, 49, 97],
       [23, 57, 34, 66, 21, 44, 95, 12, 54, 50, 32, 50, 28, 36,  7, 69,
        71, 10, 26, 97, 85, 30, 33, 72, 19, 78, 46, 75, 42, 75],
       [42, 43, 73, 91, 77, 35, 93, 42,  9, 47,  6, 88, 41, 38, 15, 82,
        68, 90, 79, 67, 84, 15, 42, 28,  5, 31, 97, 67, 47, 62],
       [74, 62, 65, 38, 29, 67, 72, 80, 32, 12, 18, 45, 28, 89, 40, 66,
        32, 32, 76, 60, 22, 66,  5, 57, 18, 42, 41, 39, 98, 65],
       [10, 62, 49, 86, 96,  9, 55, 83, 61, 89, 66, 46, 59, 51, 84, 54,
        40, 83, 60, 84, 87, 28,  1, 39, 55,  7, 70, 83, 84, 26],
       [76, 99, 19, 10, 17, 91, 20, 56, 42, 65, 36, 43, 33, 95, 39, 48,
        86, 97, 92, 25, 74, 88, 75, 10, 29, 30, 54,  5, 61, 95],
       [72, 87, 53, 88, 93, 56, 95, 68, 10, 84, 24, 25, 86, 30, 93, 92,
        26, 32, 49, 57, 32,  3, 32, 17, 50, 94, 56, 81, 18, 31],
       [31, 18, 40, 80, 77, 60, 40, 73, 51, 67, 60, 64, 96, 85, 33, 84,
         1, 29, 40, 67, 18, 71, 87, 98, 44, 93, 90, 45, 96, 63],
       [87, 31, 12, 91, 81, 79, 75, 88,  3, 64, 21, 57, 41, 84, 41, 45,
        44,  9, 68,  3, 99, 10, 32, 22, 57, 60, 16, 59, 58, 70],
       [32,  5, 54, 60, 60, 13, 49, 94, 86, 72, 35, 70, 94, 23,  7, 10,
        99, 55, 53, 13, 46, 20, 70, 17, 80, 42, 39, 99, 63, 72],
       [82, 51, 14, 54, 82, 60, 76, 36,  6, 21, 30, 36, 76, 80, 18, 79,
         0, 58, 17, 52, 52, 52, 13, 72, 47, 61, 70, 15, 95, 87]])

In [113]:
# 10
minimum = np.min(mat3)
print("min: ", minimum)

indexes = []
i = 0
sum = 0
for row in mat3:
    j = 0
    for val in row:
        if val == minimum:
            print("index of the minimum value is line ", i, "is ", j)
        j = j + 1
    i = i + 1
indexes

min:  0
index of the minimum value is line  0 is  4
index of the minimum value is line  6 is  28
index of the minimum value is line  15 is  19
index of the minimum value is line  16 is  12
index of the minimum value is line  29 is  16

[]

In [115]:
# 11
mat3[10:20,10:20]

array([[ 2, 91, 26,  4, 26, 33, 95, 33, 95, 43],
       [93, 16,  9, 24, 51, 49, 26, 48, 66, 79],
       [27, 52, 60, 91, 89, 71, 42, 57, 31, 64],
       [ 3, 71, 27, 89, 27, 64, 12, 32, 47, 78],
       [ 1, 16, 99, 56, 95, 78, 96, 76,  7, 97],
       [ 2, 65, 42, 25, 69, 12, 28, 43, 69,  0],
       [ 3, 68,  0,  2, 43, 36, 17, 61, 28, 83],
       [47, 33, 70, 65, 80, 12, 48, 51, 13, 50],
       [99, 22, 99, 63, 12, 81,  4, 97, 90, 31],
       [45, 43, 38, 99, 66,  3, 27, 54, 30, 45]])

In [117]:
# 12
print("mean: ", np.mean(mat3))
print("median: ", np.median(mat3))
print("std: ", np.std(mat3))

mean:  50.74666666666667
median:  51.0
std:  27.673096441610337

In [132]:
# 13
np.linspace(0,20,12,endpoint=False)

array([ 0.        ,  1.66666667,  3.33333333,  5.        ,  6.66666667,
        8.33333333, 10.        , 11.66666667, 13.33333333, 15.        ,
       16.66666667, 18.33333333])