# Question 1:

In [ ]:
# import pandas and drinks.csv file for question 1
import pandas as pd
drinks = pd.read_csv("drinks.csv")
drinks.head()

### Section A:

In [ ]:
# show beer servings mean if each continent
drinks.groupby('continent').beer_servings.mean()

### Section B:

In [ ]:
# show statictics of wine servings in each continent, like: counte, mean, std, min and max
drinks.groupby('continent').wine_servings.describe()

### Section C:

In [ ]:
# show the mean value of all kinds of drinks in each continent
drinks.groupby('continent').mean()

### Section D:

In [ ]:
# show the std value of all kinds of drinks in each continent
drinks.groupby('continent').std()

### Section E:

In [ ]:
# show mean, min and max values in total_litres_of_pure_alcohol
drinks['total_litres_of_pure_alcohol'].agg(['mean','min','max'])

# Question 2:

In [ ]:
# import car1 and car2 files
car1 = pd.read_csv('cars1.csv')
car2 = pd.read_csv('cars2.csv')

### Section A:

In [ ]:
# delete Unnamed: 9 - Unnamed: 13 columns
car1.drop('Unnamed: 9', axis=1, inplace=True)
car1.drop('Unnamed: 10', axis=1, inplace=True)
car1.drop('Unnamed: 11', axis=1, inplace=True)
car1.drop('Unnamed: 12', axis=1, inplace=True)
car1.drop('Unnamed: 13', axis=1, inplace=True)

### Section B:

In [ ]:
# number of targets and features in each data frame
print("car1 data frame has {0} targets and {1} features".format(car1.shape[0],car1.shape[1]))
print("car2 data frame has {0} targets and {1} features".format(car2.shape[0],car2.shape[1]))

### Section C:

In [ ]:
# combain car1 and car2 data frames into car 3 as one data frame
frames = [car1, car2]
car3 = pd.concat(frames)
car3

### Section D:

In [ ]:
# import numpy for use random
import numpy as np

# getting car 3 number of targets as height
height = car3.shape[0]

# create new feature called owner with random integers between 15000 and 73000
car3['owner'] = np.random.randint(15000, 73000, height)
car3

# Question 3:

### Section A:

In [ ]:
# create three data frames from three lists of dictionaries
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

df1 = pd.DataFrame(raw_data_1)
df2 = pd.DataFrame(raw_data_2)
df3 = pd.DataFrame(raw_data_3)

### Section B:

In [ ]:
df4 = pd.concat([df1, df2], join='inner', axis=0)
df4

### Section C:

In [ ]:
df4.merge(df3)

### Section D:

In [ ]:
# merge inner on subject_id colnum
df1.merge(df2, how='inner', on='subject_id')

### Section E:

In [ ]:
# merge outer on subject_id colnum
df1.merge(df2, how='outer', on='subject_id')

# Question 4:

### Section A:

In [ ]:
animals_data = {
                'animal':['Dog','Cat','Snake','Snake','Dog','Hamster','Cat','Alligator','Cat','Cat','Dog','Hamster','Alligator'],
                'age':[10,6,2,1,9,3,7,40,8,5,11,4,45],
                'weight':[19.5,5.3,6.2,8.5,14.6,0.1,3.32,90.5,6.6,7.8,16.7,0.21,120.3],
                'length':[1.30,0.56,1.70,2.05,1.45,0.9,0.43,2.60,0.37,0.36,1.63,0.12,1.86]}

animals = pd.DataFrame(animals_data)
animals

### Section B:

In [ ]:
# ordering (sorting) animal dataframe by the animal group (name)
animal_groups = animals.sort_values('animal')
animal_groups

### Section C:

In [ ]:
# mean value of cats weight
animals[animals.animal == 'Cat'].weight.mean()

### Section D:

In [ ]:
# min value of dogs age
animals[animals.animal == 'Dog'].age.min()

### Section E:

In [ ]:
# show for each animal group in animal group data frame how much animals there is
animal_groups.animal.value_counts()

### Section F:

In [ ]:
# show median value for all animals length
animals['length'].median()